</div>

<script src="/js/main.js"></script>
<script>
    const theme = localStorage.getItem('theme') || 'dark';
    document.documentElement.setAttribute('data-theme', theme);
</script>
</body>

</html>